# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# ignore passed in environmental variable values. See .env.example file for variables you need to add.
/.env
