<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1></h1>
  <p>
    You have received the following contact us form submission from file.me:

    Name: <%= @contact_form_detail.name %>

    Email: <%= @contact_form_detail.email %>

    Message: <%= @contact_form_detail.message %>
    <br>
  </p>

</body>
</html>
