<div class="row">
  <div class="large-3 columns">
    <h1><%= link_to image_tag('/logo/logo.jpg'), root_path %></h1>
  </div>
  <div class="large-9 columns">
    <ul class="right button-group">
      <li><%= link_to 'Home', root_path, class: 'button' %></li>
      <li><%= link_to 'Blog', blog_path, class: 'button' %></li>
      <li><%= link_to 'Contact Us', new_contact_form_path, class: 'button' %></li>
    </ul>
  </div>
</div>

<div class="row">

  <div class="large-9 columns">

    <h3>About us: <small>A little background into file.me</small></h3>

    <p>file.me was developed from an idea had by a licensed CPA from Massachusetts. As more and more of his friends began asking ‘Do I need to see a CPA because of this?’ or ‘Do you think I can do my return myself?’ he decided that there needed to be a tool to help people make that decision. Thinking that there was an unaddressed need in the marketplace to help people not only make that decision, but to then find the right tax service for them. </p>

    <p>Our goal is making that decision to get tax help as easy as possible, and once that decision has been made to help our users find the best firm or service that matches their need. Whether it be to point them in the direction of an online solution like TaxAct or TurboTax, a middle of the road provider like H&R Block, or they need a truly robust solution like a CPA firm. </p>

  </div>

</div>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© 2015 file.me</p>
      </div>
    </div>
  </div>
</footer>
