<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="button-group">
        <li><%= link_to 'Home', root_path, class: 'button' %></li>
        <li><%= link_to 'About', about_path, class: 'button' %></li>
        <li><%= link_to 'Contact Us', new_contact_form_path, class: 'button' %></li>
      </ul>
    </div>
    <div class="large-3 columns">
      <h1><%= link_to image_tag('/logo/logo.jpg'), root_path %></h1>
    </div>
  </div>
  <h1>file.me Blog <small>A blog filled with awesome</small></h1>
  <hr/>
</div>

<div class="row">

  <div class="large-9 columns" role="content">

    <article>

      <h3>First post!</h3>
      <h6>Written by <a href="#">Patrick Kennedy</a> on February, 26 2015.</h6>

      <div class="row">
        <div class="large-6 columns">
          <p>Welcome to file.me! I'll be posting more updates as the site and app progress, as well as informative links on current tax related news and legislation.</p>
          <p>In the meantime, please feel free to look around the site and let me know what you think though the Contact Us page!</p>

        </div>
      </div>
    </article>
    <hr/>
  </div>
</div>
<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© 2015 file.me</p>
      </div>
    </div>
  </div>
</footer>
