<div class="row">
  <div class="large-3 columns">
    <h1><%= image_tag "/logo/logo.jpg" %></h1>
  </div>
  <div class="large-9 columns">
    <ul class="right button-group">
      <li><%= link_to 'About', about_path, class: 'button' %></li>
      <li><%= link_to 'Blog', blog_path, class: 'button' %></li>
      <li><a href="#" class="button">Contact Us</a></li>
    </ul>
  </div>
</div>

<!-- End Header and Nav -->

<!-- First Band (Slider) -->

<div class="row">
  <div class="large-12 columns">
    <div id="slider">
      <img src="http://placehold.it/1000x400&text=[ img 1 ]" />
    </div>
    <div style="text-align: center;">
      <%= link_to 'Get Started', new_return_path, class: 'button' %>
    </div>
    <hr />
  </div>
</div>

<!-- Three-up Content Blocks -->

<div class="row">
  <div class="large-4 columns">
    <img src="http://placehold.it/400x300&text=[img]" />
    <h4>This is a content section.</h4>
    <p>Every year there comes a time where we all have to file our annual tax return. Along with that knowledge comes the thought ‘Is this the year where I need help with it?’ Don’t worry! It’s a question that we all ask ourselves.</p>
  </div>

  <div class="large-4 columns">
    <img src="http://placehold.it/400x300&text=[img]" />
    <h4>This is a content section.</h4>
    <p>There are many different things that can happen that can make your return go from something that is simple and only takes 20 minutes to prepare on your own to something far more complex that could take days of the most qualified CPA’s time.</p>
  </div>

  <div class="large-4 columns">
    <img src="http://placehold.it/400x300&text=[img]" />
    <h4>This is a content section.</h4>
    <p>file.me provides a tool to help you go in the right direction, and what service level you probably need for your return. We have a short series of questions that help discover what service level you might need, and then provide the links to those services that best match your need.</p>
  </div>

</div>

<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>© 2015 file.me</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
