<!-- Nav Bar -->

<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="button-group">
      </ul>
    </div>
    <div class="large-3 columns">
      <h1><%= link_to image_tag('/logo/logo.jpg'), root_path %></h1>
    </div>
    <hr />
  </div>
</div>

<!-- End Nav -->

<!-- Main Page Content and Sidebar -->

<div class="row">

  <!-- Main Blog Content -->
  <div class="large-9 columns" role="content">

    <article>

      <h3>The Basics:</h3>

      <div class="row">
        <div class="large-6 columns">
          <p>There are many things that need to be taken into consideration when looking for the right tax service. Do you want them to be close to where you live? Certain services and firms may be more expensive than another. Keep these in mind as you go through the steps that follow, and make sure that you’ve filled it out accurately.</p>
          <p>To begin select the type of return that you need help with below. Keep in mind that services like H&R Block and Turbo Tax do not work on certain types of returns, and as a result if selected we will suggest that you see a CPA instead of the other alternatives.</p>
        </div>
        <div class="large-6 columns">
          <img src="http://placehold.it/400x240&text=[img]" />
        </div>
      </div>

      <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

      <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
      <div class="panel">
        <h5>Type of return I need help with:</h5>
        <%= form_for @return do |f| %>
        <%= f.select :return_type, ['Individual','Trust','Estate', 'Partnership', 'Corporate'] %>
        <%=f.submit 'Submit'%>
        <% end %>
      </div>
    </article>

    <hr />

  </div>

  <!-- End Main Content -->

</div>

<!-- End Main Content and Sidebar -->

<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>© 2015 file.me</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
