<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="button-group">
        <li><a href="#" class="button">Link 1</a></li>
        <li><a href="#" class="button">Link 2</a></li>
        <li><a href="#" class="button">Link 3</a></li>
        <li><a href="#" class="button">Link 4</a></li>
      </ul>
    </div>
    <div class="large-3 columns">
      <h1><%= link_to image_tag('/logo/logo.jpg'), root_path %></h1>
    </div>

    <hr/>
  </div>
</div>

<div class="row">

  <div class="large-9 columns" role="content">

    <article>

      <h3><a href="#"><%= @service_determination %></a></h3>
      <h3>Your score is: <%= @score %> </h3>
        <% if @service_determination == 'You can probably handle this yourself' %>
          <div class="row">
            <div class="large-6 columns">
              <p>Based on what you have selected on the previous page you can probably handle your return yourself. There are some great web services available that will allow you to file your return easily. You’ve got this!</p>
              <p>We’ve provided the links to a few service providers below that will match up best with what you’ve entered. Remember you can always move up if you want!</p>
            </div>
            <div class="large-6 columns">
              <img src="http://placehold.it/400x240&text=[img]"/>
            </div>
          </div>
        <% elsif @service_determination == 'You probably need some help with your return' %>
          <div class="row">
            <div class="large-6 columns">
              <p>Based on your selections made on the previous page you might need a little help with your return. There are some great low cost service providers that can provide you with the help that you need. </p>
              <p>We’ve provided the links to a few service providers below that will match up best with what you’ve entered. Remember you can always move up if you want!</p>
            </div>
            <div class="large-6 columns">
              <img src="http://placehold.it/400x240&text=[img]"/>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="large-6 columns">
              <p>Based on your selections made on the previous page you probably need quite a bit of help with your return. There are some great CPA firms out there that are ready and willing to help you prepare your return.</p>
              <p>We’ve provided the links to a few CPA firms below that provide a variety of services. Remember that each firm is different and that some provide services beyond tax return preparation.</p>
            </div>
            <div class="large-6 columns">
              <img src="http://placehold.it/400x240&text=[img]"/>
            </div>
          </div>
        <% end %>
    </article>

    <hr/>

  </div>

</div>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© 2015 file.me</p>
      </div>
    </div>
  </div>
</footer>
